/*Crear los media query que haran responsive nuestro sitio web*/
/* Responsives Header */
@media all and (max-width: 800px){

    header{
        flex-flow: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .logo, .frase{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .contenedor{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .titulo p{
        font-size: 35px;
        right: 0%;
    }
}

@media all and (max-width: 500px){
    .logo p{
        font-size: 60px;
    }

    .logo{
        margin-top: 60px;
        margin-bottom: 160px;
    }
    .letra{
        font-size: 15px;
        text-align: right;
        /*font-family: 'Lancelot', cursive;*/
    }

    .contenedor{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .titulo{
        width: 80%;
        background: brown;
    }

    .titulo p{
        font-size: 20px;
        color: aliceblue;
    }
}

/* Responsive Section */
/* Animación de leve desplazamiento en los botones de la barra de navegación */
@keyframes animacion1 {
    from {
         left: 0px;
    }to{
         left: 5px;
         /* background: rgb(117, 31, 31); */
    }
}

@media all and (max-width: 600px){
    nav{
         padding: 5px;
    }
    .barra{
        height: auto;
        padding: 10px;
    }
    nav div div{
         margin-top: 15px;
         /* background: greenyellow; */
         width: 90%;
         height: auto;
         justify-content: flex-end;
         align-items: flex-end;
         display: block;
         padding-right: 10px;
    }
    .item{
         margin-bottom: 10px;
    }
    .logo{
         font-size: 16px;
         padding: 10px 0px;
    }
}